<header> 

  <nav class="navbar navbar-light" style="background-color: lightskyblue"> 

    <div class="container"> 
      <a class="navbar-brand" href="{% url 'notes:home' %}"><i class="bi bi-card-checklist"></i>Заметки</a> 

      {% with request.resolver_match.view_name as view_name %} 

        <ul class="nav  nav-pills"> 

          <li class="nav-item"> 

            <a class="nav-link {% if view_name == 'notes:about' %} text-white {% endif %}" href="{% url 'notes:about' %}"> 

              О проекте 

            </a> 

          </li> 

          <li class="nav-item"> 

            <a class="nav-link  {% if view_name == 'notes:rules' %} text-white {% endif %}" href="{% url 'notes:rules' %}"> 

              Правила 

            </a> 

          </li> 

          {% if user.is_authenticated %} 

            <div class="btn-group" role="group" aria-label="Basic outlined example"> 

              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset  {% if view_name == 'notes:createzzz' %} text-white {% endif %}" 

                  href="{% url 'notes:create' %}">Создать заметку</a></button> 
                  <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset" 

                    href="{% url 'notes:list' %}">Список заметок</a></button> 

              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset" 

                  href="{% url 'notes:profile' user.username %}">{{ user.username }}</a></button> 

              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset" 

                  href="{% url 'logout' %}">Выйти</a></button> 

            </div> 

          {% else %} 

            <div class="btn-group" role="group" aria-label="Basic outlined example"> 

              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset" 

                  href="{% url 'login' %}">Войти</a></button> 

              <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset" 

                  href="{% url 'registration' %}">Регистрация</a></button> 

            </div> 

          {% endif %} 

        </ul> 

      {% endwith %} 

    </div> 

  </nav> 

</header> 